@import "../../vars.css";

.container {
    background-image: linear-gradient(
            0deg,
            #0B2447 0%,
            #576CBC 100%
    );
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 24px 24px;
    width: 90%;
    gap: 20px;
    align-items: center;
}

.image {
    display: flex;
    width: 300px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;

}

.skill {
    background: var(--color-dark);
    border-radius: 100px;
    font-weight: 400;
    font-size: 20px;
    padding: 3px 12px;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

.link {
    background: var(--color-primary);
    border-radius: 100px;
    font-weight: 600;
    font-size: 30px;
    padding: 1px 22px;
    text-decoration: none;
    color: var(--color-text)
}

@media screen and (max-width: 830px) {

    .container {
        flex-direction: column;
        width: 100%;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 18px;
    }

    .skill {
        font-size: 18px;
    }

    .link {
        font-size: 18px;
        padding: 1px 10px;
    }


}